.CalculatorRoot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rootDisplay{
    height: 6rem;
    background-color: #000;
    margin: 2rem 0;
    border-radius: 1rem;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    font-size: 2rem;
    font-weight: 700;
}

.buttonDivCalc{
    border-radius: 1rem;
    background-color: #fff;
    padding: 2rem 0;
    gap: 2rem;
    justify-content: center;
}

.buttonCalc{
    width: 100%;
    font-size: 1.4rem;
    height: 3.2rem;
    border: none;
    border-radius: 0.6rem;
    font-weight: 700;
}

.buttonCalc:hover{
    opacity: .5;
}


@media only screen and (max-width: 500px){
    html{
        font-size: 0.8rem;
    }
}