.PanelDataRoot{
    position: absolute;
    top: -4rem;
    background-color: #fafafa;
    min-height: 13rem;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 32px 3px rgb(85, 85, 85);
}

.titleInfoDiv{
    text-transform: uppercase;
    font-size: 1rem;
    color: rgb(104, 104, 104);
}

.infoDiv{
    border-left: 2px solid rgb(194, 194, 194);
}

.resultInfoDiv{
    top: 1.5rem;
    font-size: 1.6rem;
    font-weight: 700;
}

@media only screen and (max-width: 900px){
    .PanelDataRoot{
        min-height: fit-content;
        gap: 1rem 0;
    }

    .infoDiv{
        border: none;
    }
    .resultInfoDiv{
        height: fit-content;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px){
    .PanelDataRoot{
        top: -8rem;
        padding: 1rem 0;
    }
}