*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_content{
    margin: 1.4rem 0;
    padding: 0.5rem 0;
    padding-right: 1rem;
}

.header_nav{
    font-weight: 700;
}

.amount_nav{
    text-align: end;
    font-weight: 600;
}