*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_bar{
    min-height: 5rem;
}

.title_nav i{
    transform: rotate(-90deg);
}

.title_nav{
    color: #EB5757;
    font-size: 1.7rem;
    font-weight: 600;
    padding: 0.3rem 0 0 0;
}

.formNav_div{
    position: relative;
}