.search{
    position: absolute;
    top: 2rem;
}

.searchInputs{
    display: flex;
}

.search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
}

.dataResult{
    margin-top: 5px;
    width: 300px;
    max-height: 300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem{
    text-decoration: none;
}

.dataItem:hover{
    background-color: brown;
    color: white;
}

.dataItem p{
    width: 100%;
    padding: 1.2rem 2rem;
    height: 100%;
}

#clearBtn{
    cursor: pointer;
}