.myBalanceRoot{
    background-color: var(--Soft-red);
    color: var(--Very-pale-orange);
    padding: 2rem;
    border-radius: 1rem;
}

.titleBalance{
    font-size: 1.3rem;
    font-weight: 500;
}

.totalAmount{
    font-size: 2.1rem;
    font-weight: 700;
}

.iconsBrand{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 4rem;
}



.iconRegular{
    color: var(--Cream);
    display: block;
    z-index: 1;
}

.iconSolid{
    display: block;
    color: var(--Dark-brown);
    margin-left: -1rem;
}