@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --black: #000000;
    --olive-green: #3D550C;
    --lime-green: #81B622;
    --standard-green: #1a9878;
    --pewter: #EBEBE8;
    --dark-gray: #4F4F4F;
    --gray: #ccc9c9;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--pewter);
    color: var(--dark-gray);
}

#main{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 1.5rem 0;
}

.profile_img{
    max-width: 100%;
    border-radius: 1rem;
}

.card{
    background-color: var(--white);
    max-width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 1rem;
    line-height: 1.8;
}

#aside{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem 0;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
}

.subtitle{
    font-size: 1.1rem;
    font-weight: 400;
}

.contact_info{
    margin: 1rem 0;
}

.contact_info a{
    text-decoration: none;
    color: var(--dark-gray);
    font-size: 1.1rem;
}

.contact_info a:hover{
    color: var(--standard-green);
    transition: 0.5s;
}
.contact_info i{
    margin-right: 1rem;
}

.title_section{
    font-weight: 500;
    margin-bottom: 1rem;
}

.experiences_card_div{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem 0;
}

.experience_card{
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 0 1rem;
    align-content: center;
    align-items: center;
}

.dates_experience{
    font-size: 0.87rem;
}

.description_experience{
    font-size: 1rem;
    margin: 0.5rem 0;
}

.title_experience{
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
}

.brand_img{
    max-width: 100%;
    border-radius: 0.5rem;
}

.hobbies_card_div{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem 0;
}

.title_hobbie{
    font-size: 1.125rem;
}

.hobbie_description{
    font-size: 1rem;
}

.hobbie_img{
    max-width: 100%;
    border-radius: 1rem;
}

#home_content{
    width: 92%;
}

.progress_div{
    height: 1.3rem;
    width: 100%;
    background-color: var(--gray);
    border-radius: 0.5rem;
}

.progress_bar{
    height: 100%;
    background-color: var(--standard-green);
    display: flex;
    align-items: center;
    transition: 3s;
    border-radius: 0.5rem;
}

#skills_section{
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 0 2%;
}

.skill_card{
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--white);
}

.skill{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    margin: 0.5rem 0;
}

.title_skill{
    font-weight: 500;
    font-size: 1rem;
}

.title_skills{
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 2px;
}

#projects_section{
    margin: 1.5rem 0;
    padding: 1.5rem 0;
    width: 100%;
}

.project_title_div{
    background-color: var(--white);
    border-radius: 1rem;
}

.project_title_div h2{
    padding: 1rem 2rem;
}

.project_card{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    display: grid;
    grid-template-columns: 39% 59%;
    gap: 0 2%;
}

.figure_project{
    min-height: 10rem;
}

.img_project{
    max-width: 100%;
    border-radius: 1rem;
    height: 100%;
    border: 1px solid var(--gray);
}

.project_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    margin: auto 0;
}

.title_project{
    font-size: 1.8rem;
    color: var(--black);
}

.buttons_project{
    display: flex;
    flex-direction: row;
    gap: 0 1rem;
}

.button{
    display: block;
    cursor: pointer;
    border: 3px solid var(--standard-green);
    border-radius: 0.7rem;
    padding: 0.5rem 1.8rem;
    background: none;
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--black);
}

.all_projects_div{
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
}

.demo_button{
    background-color: var(--standard-green);
    color: var(--white);
}

.demo_button:hover{
    background-color: var(--white);
    color: var(--black);
    transition: all 0.7s;
}

.code_button:hover{
    background-color: var(--standard-green);
    color: var(--white);
    transition: all 0.7s;
}


.blog_card{
    background-color: var(--white);
    display: grid;
    grid-template-columns: 54% 45%;
    gap: 0 2%;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
}

.button_blog{
    cursor: pointer;
    display: block;
    margin: 1rem 0 0 0;
    border: 3px solid var(--standard-green);
    background-color: var(--white);
    padding: 0.5rem 2rem;
    width: fit-content;
    border-radius: 0.8rem;
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    font-size: 1.1rem;
}

.button_blog:hover{
    background-color: var(--standard-green);
    color: var(--white);
    transition: all 0.7s;
}
.blog_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 97%;
}

.title_blog{
    font-size: 1.8rem;
}

#footer{
    text-align: center;
    margin: 1rem 0;
}

.user_footer,
.dev_link{
    color: var(--standard-green);
    font-weight: 600;
}
.user_footer:hover,
.dev_link:hover{
    color: var(--lime-green);
    transition: 0.4s;
}

.img_blog{
    max-width: 100%;
    height: 100%;
    border: 1px solid var(--gray);
    border-radius: 1rem;
}

#button_container {
    background-color: var(--standard-green);
    width: fit-content;
    padding: 1rem 1.2rem;
    position: fixed;
    border-radius: 0 0 30% 0;
    font-size: 2rem;
    color: var(--white);
    top: 0;
    display: none;
}


@media only screen and (max-width: 900px){
    html{
        font-size: 0.8rem;
    }

    #main{
        grid-template-columns: 45% 55%;
    }

    #aside{
        height: fit-content;
    }

    .skill{
        grid-template-columns: 29% 69%;
        gap: 0 2%;
    }

    .contact_info p{
        word-wrap: break-word;
    }

    .contact_info a{
        font-size: 0.8rem;
    }

    .experience_card{
        grid-template-columns: 1fr;
    }

    .experience_brand_img{
        text-align: center;
    }

    .brand_img{
        width: 70%;
    }

    .card{
        height: fit-content;
    }

    #skills_section{
        grid-template-columns: 1fr;
        gap: 1rem 0;
    }

    .project_card{
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .project_content{
        gap: 1rem 0;
    }

    .figure_project{
        margin-bottom: 0.9rem;
    }

    .blog_card{
        grid-template-columns: 1fr;
    }

    .blog_content{
        gap: 1rem 0;
    }

    .figure_blog{
        grid-row-start: 1;
        margin-bottom: 0.7rem;
    }
}

@media only screen and (max-width: 500px){
    #home_content{
        display: none;
    }

    #button_container{
        display: block;
        cursor: pointer;
        z-index: 100;
    }

    #main{
        grid-template-columns: 1fr;
    }

    #home_content{
        position: absolute;
        width: 90%;
        margin: 0 5%;
        background-color: var(--pewter);
        min-height: 100%;
        padding: 5rem 0;
    }

}

@media only screen and (max-height: 900px){
    html{
        font-size: 0.8rem;
    }

    #aside{
        padding-top: 5rem;
        width: 100%;
    }

    .skill{
        grid-template-columns: 34% 64%;
    }

    .experience_card{
        grid-template-columns: 1fr;
    }

    .experience_brand_img{
        width: 60%;
        margin: 0 auto 1rem auto;
    }

    .contact_info a{
        font-size: 0.8rem;
    }

}