@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.title{
    font-family: 'PT Serif', serif;
}

#header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 5rem auto;
}

#main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 1rem auto;
}

.img_card{
    width: 100%;
}

.content_card{
    height: 50rem;
    width: 25rem;
}

.vertical_text{
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
}

.center_column{
    margin-top: 5rem;
}

.card_title{
    font-size: 1.8rem;
    padding: 1rem 0;
}

.img_text{
    display: grid;
    grid-template-columns: 95% 3%;
    gap: 0 1rem;
    justify-content: center;
}


#footer{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.footer_link{
    color: rgb(40, 40, 209);
}

.footer_link:hover{
    color: rgb(5, 141, 204);
    transition: 0.2s 0.1s;
}

@media only screen and (max-width: 600px){
    html{
        font-size: 0.8rem;
    }

    #header{
        grid-template-columns: 1fr;
        width: 90%;
    }

    .title_secondary{
        margin-top: 1rem;
    }

    .vertical_text{
        font-size: 0.8rem;
    }

    #main{
        grid-template-columns: 1fr;
        width: 90%;
    }

    .content_card{
        width: 12rem;
        height: max-content;
    }

    .column_content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 1rem;
    }

    .secondary_top{
        margin-top: 1rem;
    }
}